{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% for item in data %}
    <div>
        <p>
            <a href="/find/{{ item.id }}">{{ item.id }}.{{ item.title }}</a>
        </p>
    </div>
    {% endfor %}
{% endblock %}
